PATH_add cli
PATH_add cli/bin

eval "$(cs java --jvm adoptium:1.17.0 --env)"

dotenv_if_exists .env
dotenv_if_exists .env.local

case $DENV in

  1)
  dotenv_if_exists .1.env
  ;;

  2)
  dotenv_if_exists .2.env
  ;;

  3)
  dotenv_if_exists .3.env
  ;;

esac

unset PS1
